@page
@model eBookStoreClient.Pages.RegisterModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eStoreClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eStoreClient.styles.css" asp-append-version="true" />
</head>

<div class="text-center">
    <form method="post" class="row">
        <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
            <div class="mb-3 text-center">
                <h3>REGISTER</h3>
                @Model.Message
            </div>
            <div class="mb-3 text-start">
                <label>Email</label>
                <input class="form-control" type="email" asp-for="@Model.Email" placeholder="Email" />
            </div>
            <div class="mb-3 text-start">
                <label>Password</label>
                <input asp-for="@Model.Password" class="form-control" type="password" placeholder="Password" />
            </div>
            <div class="mb-3 text-start">
                <label>Confirm Password</label>
                <input asp-for="@Model.ConfirmPass" class="form-control" type="password" placeholder="Password" />
            </div>
            <div class="mb-3 d-grid gap-2">
                <button class="btn btn-primary" type="submit">Sign up</button>
            </div>
            <div class="mb-3 d-grid gap-2">
                <a href="/Index">Already an user?</a>
            </div>
        </div>
    </form>
</div>